:root {
    --main-color: hsl(322, 100%, 66%);
    --secondry-color: hsl(321, 100%, 78%);
    --third-color: #0e2535;
    --main-font-family: "Open Sans", sans-serif;
    --second-font-family: "Poppins", sans-serif;
    --main-padding: 100px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: var(--main-font-family);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* mobile */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* start header */
header {
    padding-bottom: var(--main-padding);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

header .logo img {
    width: 150px;
}

header button {
    border: none;
    border-radius: 50px;
    width: 100px;
    height: 32px;
    background-color: initial;
    border: 1px solid var(--main-color);
}

header button,
header button a:hover {
    color: var(--secondry-color);
    border-color: var(--secondry-color);
}

header button a {
    font-size: 13px;
    font-weight: initial;
    color: var(--main-color);
}

@media(max-width:767px) {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

/* end header */
/* start landing */
.landing {
    text-align: center;
    padding-bottom: var(--main-padding);
}

.landing .text-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing .text-landing h1 {
    font-weight: 700;
    font-family: var(--second-font-family);
    color: var(--third-color);
}

.landing .text-landing p {
    font-family: var(--main-font-family);
    width: 30rem;
    margin-bottom: 40px;
    color: var(--third-color);
}

.landing .text-landing button {
    padding: 20px;
    width: 320px;
    border-radius: 50px;
    margin-bottom: 100px;
    background-color: var(--main-color);
    box-shadow: 0px 5px 15px 0px #ddd;
    cursor: pointer;
}

.landing .text-landing button:hover {
    background-color: var(--secondry-color);
}

.landing .text-landing button a {
    font-size: 14px;
    color: white;
    font-weight: 700;
}

.landing .image-landing img {
    width: 700px;
    max-width: 100%;
}

.landing .number-landing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.landing .number-landing .communities,
.messages {
    text-align: start;
}

.landing .number-landing .communities img {
    margin-left: 15px;
}

.landing .number-landing .communities img,
.messages img {
    width: 25px;
}

.landing .number-landing .communities h2,
.messages h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center !important;
    margin-bottom: 10px;
    color: var(--third-color);

}

.landing .number-landing .communities p,
.messages p {
    text-align: center;
    font-size: 15px;
    color: #96a0a9;
}

@media(max-width:767px) {
    .landing .text-landing h1 {
        font-size: 28px;
    }

    .landing .text-landing p {
        width: 21rem;
        margin-bottom: 50px;
    }

    .landing .text-landing button {
        padding: 12px;
        width: 230px;
    }

    .landing .image-landing img {
        width: 350px;
    }

    .landing .number-landing {
        flex-direction: column;

    }

    .landing .number-landing .communities {
        padding-top: 50px;
        padding-bottom: var(--main-padding);
    }
}

/* end landing */
/* start  section*/
.information {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.information .box .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information .box .text-box h3 {
    font-size: 25px;
    font-weight: 700;
    font-family: var(--second-font-family);
    margin-bottom: 10px;
    color: var(--third-color);

}

.information .box .text-box p {
    font-size: 15px;
    width: 30.5rem;
    line-height: 1.5;
    color: var(--third-color);

}

.information .box .image-box img {
    width: 350px;
    max-width: 100%;
}

.information .box {
    position: relative;
}

.information .box:not(.box:nth-child(2))::before {
    content: "";
    position: absolute;
    background-image: url("../images/bg-section-top-desktop-1.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 50%;
}

.information .box:not(.box:nth-child(2), .box:nth-child(1))::before {
    content: "";
    position: absolute;
    background-image: url("../images/bg-section-top-desktop-2.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 50%;
}

.information .box:not(.box:nth-child(2))::after {
    content: "";
    position: absolute;
    background-image: url("../images/bg-section-bottom-desktop-1.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    top: 100%;
}

.information .box:not(.box:nth-child(2), .box:nth-child(1))::after {
    content: "";
    position: absolute;
    background-image: url("../images/bg-section-bottom-desktop-2.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    top: 100%;
}

.information .box:nth-child(1) {
    margin-bottom: 200px;
    background-color: hsl(207, 100%, 98%);
    padding: 45px 0 10px;
}

.information .box:nth-child(2) {
    margin-bottom: 200px;
    padding: 45px 0;
}

.information .box:nth-child(2) .text-box {
    order: 2;
}

.information .box:nth-child(2) .image-box {
    order: 1;
}

.information .box:nth-child(3) {
    background-color: hsl(207, 100%, 98%);
    padding: 45px 0 10px;
}

@media(max-width:991px) {
    .information .box .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 50px;
    }

    .information .box:nth-child(1) {
        margin-bottom: 100px;
        background-color: hsl(207, 100%, 98%);
        padding: 30px 0 10px;
    }

    .information .box:nth-child(2) {
        margin-bottom: 100px;
        padding: 45px 0;
    }

    .information .box:nth-child(3) {
        background-color: hsl(207, 100%, 98%);
        padding: 30px 0 20px;
    }
}

/* ############################################# */
@media(max-width:767px) {
    .information .box .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .information .box .text-box {
        order: 2;
        text-align: center;
    }

    .information .image-box {
        order: 1;
        margin: 0 auto 50px;
    }

    .information .box .text-box h3 {
        margin-top: 20px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .information .box .text-box p {
        font-size: 14px;
        width: 20.1rem;
        line-height: 1.5;
    }

    .information .box .image-box img {
        width: 300px;
        margin-top: 50px;
    }


    .information .box:not(.box:nth-child(2), .box:nth-child(3))::before {
        background-image: url("../images/bg-section-top-mobile-1.svg");
        bottom: 18%;
    }

    .information .box:not(.box:nth-child(2), .box:nth-child(1))::before {
        background-image: url("../images/bg-section-top-mobile-2.svg");
        bottom: 15%;
    }

    .information .box:not(.box:nth-child(2), .box:nth-child(1))::after {
        background-image: url("../images/bg-section-bottom-mobile-2.svg");
        top: 100%;
    }

    .information .box:not(.box:nth-child(2), .box:nth-child(3))::after {
        background-image: url("../images/bg-section-bottom-mobile-1.svg");
        top: 100%;
    }

    .information .box:nth-child(1) {
        margin-bottom: 150px;
        padding: 50px 0 50px;
    }

    .information .box:nth-child(2) {
        margin-bottom: 200px;
    }

    .information .box:nth-child(3) {
        padding: 10px 0 100px;
    }

}

/* end section */
/* start ready */
.ready {
    padding-top: 200px;
    height: 75vh;
}

.ready .info-ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ready .info-ready h2 {
    font-weight: 700;
    font-size: 25px;
    font-family: var(--second-font-family);
    margin-bottom: 30px;
    color: var(--third-color);

}

.ready .info-ready button {
    padding: 17px;
    width: 250px;
    border-radius: 50px;
    background-color: var(--main-color);
    box-shadow: 0px 5px 15px 0px #ddd;
    cursor: pointer;
}

.ready .info-ready button:hover {
    background-color: var(--secondry-color);
}

.ready .info-ready button a {
    font-size: 14px;
    color: white;
    font-weight: 700;
}

@media(max-width:767px) {
    .ready {
        padding-top: 200px;
        height: 80vh;
    }

    .ready .info-ready h2 {
        font-size: 27px;
        line-height: 1.5;
    }

    .ready .info-ready button {
        padding: 17px;
        width: 250px;
        border-radius: 50px;
        background-color: var(--main-color);
        box-shadow: 0px 5px 15px 0px #ddd;
    }
}

/* end ready */
/* start footer */
footer {
    padding-top: 50px;
    padding-bottom: var(--main-padding);
    background-color: hsl(192, 100%, 9%);
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    background-image: url("../images/bg-footer-top-desktop.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 200px;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 100px;
}

footer .info-footer .logo {
    margin-bottom: 20px;
}

footer .info-footer .logo img {
    width: 200px;
}

footer .info-footer .address {
    margin-bottom: 20px;
}

footer .info-footer .address p {
    width: 20rem;
    color: white;
    font-size: 14px;
    line-height: 1.6;
}

footer .info-footer .info-phone {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

footer .info-footer .info-phone p {
    color: white;
    font-size: 14px;
}

footer .info-footer .info-email {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

footer .info-footer .info-email p {
    color: white;
    font-size: 14px;
}

footer .info-footer .icon {
    margin-top: 80px;
    display: flex;
    gap: 20px;
}

footer .info-footer .icon i {
    font-size: 30px;
    color: white;
}

footer .info-footer .icon i:nth-child(1):hover {
    color: #1877f2;
}

footer .info-footer .icon i:nth-child(2):hover {
    color: #c13584;
}

footer .info-footer .icon i:nth-child(3):hover {
    color: #1da1f2;
}

footer .contact-footer .info-contact h3 {
    margin-bottom: 20px;
    font-size: 26px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

footer .contact-footer .info-contact p {
    font-size: 13px;
    width: 19rem;
    color: white;
    margin-bottom: 30px;
    line-height: 1.6;
}

footer .contact-footer input[type="email"] {
    height: 40px;
    width: 280px;
    border-radius: 5px;
    outline: none;
}

footer .contact-footer form button {
    margin-left: 35px;
    border-radius: 5px;
    outline: none;
    height: 40px;
    width: 140px;
    font-size: 14px;
    background-color: var(--main-color);
    cursor: pointer;
}

footer .contact-footer form button:hover {
    background-color: var(--secondry-color);
}

footer .contact-footer form button a {
    font-size: 14px;
    color: white;
    font-weight: 700;
}

@media(max-width:991px) {
    footer::before {
        background-image: url("../images/bg-footer-top-desktop.svg");
        bottom: 100px;
    }
}

@media(max-width:767px) {
    footer::before {
        background-image: url("../images/bg-footer-top-mobile.svg");
        bottom: 50px;
    }

    footer .info-footer {
        order: 2;
    }

    footer .contact-footer {
        order: 1;
    }

    footer .contact-footer .info-contact p {
        font-size: 14px;
    }

    footer .contact-footer button {
        margin-top: 20px;
        margin-left: 140px;
    }
}

/* end footer */
/* start active */

/* end active */